.card {
    width: 18rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: yellow;
    float: left;
    margin-left: 2rem;
    margin-top: 1rem;
}
.parent {
    /* display: grid; */
    place-items: center;
    overflow: hidden;

}
.visual {
    aspect-ratio: 16 / 9;
    background-color:blue;
}
